/* css */
@import 'reset.css';
@import 'layout.css';
@import 'module.css';

html {font-size: 1em;}

body {
    background-image: linear-gradient(to right, #434343 0%, black 100%);    
    font-family: 'Work Sans', cursive;
    font-weight: 500;
    line-height: 1.4;
    color: white;
    letter-spacing: 1px;
}

p {
    margin-bottom: 1.3em;
}

h1, h2, h3, h4 {
    margin: 1.414em 0 0.5em;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: 2px;
}
  
h1 {
    margin-top: 0;
    font-size: 3.598em;
}
  
h2 {font-size: 2.827em;}

h3 {font-size: 1.999em;}

h4 {font-size: 1.414em;}

small, .font_small {font-size: 0.707em;}




/* body {
    background-color: black;
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: white;
    line-height: 1.4;
}

h1 {
    font-size: 60px;
    line-height: 1.4;
    font-weight: 500;
    margin-bottom: 50px;
}

h2 {
    font-size: 16px;
} */

a {
    color: white;
    text-decoration: none;
}

a:hover {
    border-bottom: 2px solid white;
    padding-bottom: 5px;
}

.hide {
    display: none;
}

.display {
    display: block !important;
}


/*  -------- Media Queries ------- */

/* Mobile */
@media only screen and (max-width: 653px) and (min-width: 320px) {
    h1 {
        font-size: 20px;
    }
}

/* Tablet */
@media only screen and (max-width: 1280px) and (min-width: 653px) {
    h1 {
        font-size: 35px;
    }
}

/* Desktop */
@media only screen and (max-width: 9000px) and (min-width: 1280px) {

}