/* ------- Layout ------- */
header {
    margin: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#container {
    margin: 5%;
}


/*  -------- Media Queries ------- */

/* Mobile */
@media only screen and (max-width: 653px) and (min-width: 320px) {
    #container {
        margin: 10% 5%;
    }
}

/* Tablet */
@media only screen and (max-width: 1280px) and (min-width: 653px) {

}

/* Desktop */
@media only screen and (max-width: 9000px) and (min-width: 1280px) {

}