/* ------- Navigation ------- */
#logo {
    position: fixed;
    z-index: 100000;
}

#navigation {
    position: fixed;
    right: 0;
    padding-right: 300px;
    z-index: 1000;
    display: none;
}

#ham {
    position: fixed;
    right: 0;
    margin-right: 5%;
    z-index: 100000;
}


/* ------- Social ------- */
#social {
    /* opacity: 1; */
    transition: 0.3s ease all;
    right: 0;
    position: fixed;
    padding-right: 2%;
    margin-top: -8px;
    z-index: 100000;
  }
  
  #social img {
      transform: scale(.7);
  }
  
  .soc {
    padding: 10px 20px 0 0;
    transition: 0.3s ease all;
    opacity: 0.4;
  }
  
  a.soc:hover {
    opacity: 1;
    border-bottom: 0px;
  }


/* ------  Project Item Style ----------- */
#projectContainer {
    margin: 4% 5% 4% 4%;
    display: flex;
    flex-wrap: wrap;
}

#projectItem {
    flex: 1 0 400px;
    margin-left: 15px;
	/* margin-bottom: 50px; */
}

#projectBox {
    max-height: 60%;
    max-width: 100%;
    /* height: 300px;
    width: 300px; */
    overflow: hidden;
    transition: 0.3s ease all;
    margin-bottom: 10px;
    position: relative;
}

.container:hover{
    transform: scale(.95);
}

.overlay {  
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    widows: 100%;
    opacity: 0;
    transition: 0.3s ease all;
}

.image {
    display: block;
    width: 150%;
    height: auto;
    position: relative;
}

.image:hover {
    transform: scale(1.05);
    transition: 0.3s ease all;
}

.container:hover .overlay {
    opacity: 0.8;
}

.overlayText {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 3px;
    padding-bottom: 5px;
    transition: 0.3s ease all;
}

#imgShow {
    /* transition: 0.3s ease-in-out; */
}

#imgShow:hover {
    /* transform: scale(1.05); */
}
 
#projectTitle {
    text-transform: lowercase;
    transition: 0.3s ease all;
}

#projectBox:hover ~ #projectTitle{
    opacity: 0.4;
    margin: 0 0 0 10px;
}

#projectTag {
    text-transform: lowercase;
    transition: 0.3s ease all;
    font-size: 10px;
    opacity: 0;
}

#projectBox:hover ~ #projectTag{
    opacity: 0.8;
    margin: 0 0 0 10px;

}


/* --------- Overlay Colors - https://uigradients.com ------- */
.retro {
    background: #114357;  
    background: -webkit-linear-gradient(to right, #F29492, #114357);  
    background: linear-gradient(to right, #F29492, #114357); 
}

.dark {
    background: #3C3B3F;  
    background: -webkit-linear-gradient(to right, #605C3C, #3C3B3F);  
    background: linear-gradient(to right, #605C3C, #3C3B3F);    
}

.water {
    background: #348F50; 
    background: -webkit-linear-gradient(to right, #56B4D3, #348F50); 
    background: linear-gradient(to right, #56B4D3, #348F50);  
}

.moss {
    background: #134E5E; 
    background: -webkit-linear-gradient(to right, #71B280, #134E5E); 
    background: linear-gradient(to right, #71B280, #134E5E);   
}

.miaka {
    background: #FC354C; 
    background: -webkit-linear-gradient(to right, #0ABFBC, #FC354C);
    background: linear-gradient(to right, #0ABFBC, #FC354C);    
}

.midnight {
    background: #000000;
    background: -webkit-linear-gradient(to right, #434343, #000000);
    background: linear-gradient(to right, #434343, #000000);      
}

.fire {
    background: #cb2d3e; 
    background: -webkit-linear-gradient(to right, #ef473a, #cb2d3e); 
    background: linear-gradient(to right, #ef473a, #cb2d3e);   
}

.oh {
    background: #00b09b; 
    background: -webkit-linear-gradient(to right, #96c93d, #00b09b); 
    background: linear-gradient(to right, #96c93d, #00b09b); 
}


/* -------- About ---------- */
.blend {
    mix-blend-mode: difference;
    position: absolute;
    /* top: 50%;
    transform: translateY(-85%); */
}

.heroText {
    padding: 5% 40% 0 0;
}


/*  -------- Media Queries ------- */

/* Mobile */
@media only screen and (max-width: 653px) and (min-width: 320px) {
    #projectItem {
        flex: 1 0 300px; 
    }
    
    #projectContainer #projectItem {
        margin: 10px 0 50px;
    }

    #menu li {
        padding-right: 5%;
        line-height: 2;
        text-align: right;
        font-size: 30px;
    }

    #social {
        padding-right: 3%;
        margin-top: 5%;
    }

    #ham {
        display: block;
    }

    #navigation {
        padding: 0px;
        background-image: linear-gradient(to right, #434343 0%, black 100%);
        position: fixed;
        top: 0px !important;
        right: 0px !important;
        width: 100%;
        height: 100%;
        padding-top: 150px; 
    }
    
}

/* Tablet */
@media only screen and (max-width: 1280px) and (min-width: 653px) {
    #menu li {
        padding-right: 5%;
        line-height: 2;
        text-align: right;
        font-size: 30px;
    }

    #social {
        padding-right: 3%;
        margin-top: 5%;
    }
    #ham {
        display: block;
    }

    #navigation {
        padding-right: 0px;
        background-image: linear-gradient(to right, #434343 0%, black 100%);
        position: fixed;
        top: 0px !important;
        right: 0px !important;
        width: 100%;
        height: 100%;
        padding-top: 150px; 
    }
}

/* Desktop */
@media only screen and (max-width: 9000px) and (min-width: 1280px) {
    #projectContainer #projectItem {
        margin: 0 0 0 20px;
    }

    #ham {
        display: none;
    }

    #menu{
        display: flex;
        padding-left: 400px;
    }

    #menu li {
        padding: 0 0px 0 30px;
    }

    #social {
        display: block;
        margin-top: -5px;
    }
    
    #navigation {
        /* padding: 0px; */
        display: flex !important;
    }
}