



/*  -------- Media Queries ------- */

/* Mobile */
@media only screen and (max-width: 653px) and (min-width: 320px) {
   
    
}

/* Tablet */
@media only screen and (max-width: 1280px) and (min-width: 653px) {
    
}

/* Desktop */
@media only screen and (max-width: 9000px) and (min-width: 1280px) {
    
}