/* css */
@import 'reset.css';

body {
    background-color: black;
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: white;
}

header {
    margin: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#navigation {
    align-self: flex-end;
}

#navigation ul{
    display: flex;
}

#navigation ul li {
    padding: 0 0px 0 30px;
}

h2 {
    font-size: 16px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    border-bottom: 2px solid white;
    padding-bottom: 5px;
}

#container {
    margin: 5%;
}

/* ------  Project Item Style ----------- */

#projectContainer {
    margin: 4%;
    display: flex;
    flex-wrap: wrap;
    /* margin-left: -10px;
	margin-top: -10px; */
}

#projectItem {
    flex: 1 0 300px;
    margin-left: 15px;
	margin-bottom: 90px;
}



#projectBox {
    max-height: 500px;
    max-width: 500px;
    overflow: hidden;
    transition: 0.3s ease-in-out;
    padding-bottom: 10px;
}

#projectItem:hover > #projectBox{
    transform: scale(.95);
    /* background: rgba(0,229, 255, 0.8); */
}

#imgShow {
    position: relative;
    max-width: 150%;
    transition: 0.3s ease-in-out;
}

/* #projectBox:hover > #imgShow {
    transform: scale(1.1);
} */



#projectName {
    /* padding: 10px 0 0; */
    text-transform: lowercase;
}

#projectName:hover {
    padding-bottom: 5px;
}


/*  -------- Media Queries ------- */

/* Mobile */
@media only screen and (max-width: 653px) and (min-width: 320px) {
#projectContainer #projectItem {
    margin: 10px 0 50px;
}

}

/* Tablet */
@media only screen and (max-width: 61280px) and (min-width: 653px) {
    
}

/* Desktop */
@media only screen and (max-width: 9000px) and (min-width: 1280px) {
    #projectContainer #projectItem {
        margin: 0 0 90px 20px;
    }
}