/* ------- Navigation ------- */
#logo {
    position: fixed;
    z-index: 1000;
}

#navigation {
    position: fixed;
    right: 0;
    padding-right: 300px;
    z-index: 1000;
    display: none;
}

#ham {
    position: fixed;
    right: 0;
    margin-right: 5%;
    z-index: 100000;
}


/* ------- Social ------- */
#social {
    /* opacity: 1; */
    transition: 0.3s ease all;
    right: 0;
    position: fixed;
    padding-right: 2%;
    margin-top: -8px;
    z-index: 100000;
  }
  
  #social img {
      transform: scale(.7);
  }
  
  .soc {
    padding: 10px 20px 0 0;
    transition: 0.3s ease all;
    opacity: 0.4;
  }
  
  a.soc:hover {
    opacity: 1;
    border-bottom: 0px;
  }


/* ------  Project Item Style ----------- */
#projectContainer {
    margin: 4% 5% 4% 4%;
    display: flex;
    flex-wrap: wrap;
}

#projectContainer1 {
    margin: 4% 5% 4% 4%;
    display: flex;
    flex-wrap: wrap;
}

#projectItem {
    flex: 1 0 350px;
    margin-left: 15px;
}

#projectBox {
    max-height: 100%;
    max-width: 100%;
    overflow: hidden;
    transition: 0.3s ease all;
    margin-bottom: 10px;
    position: relative;
}

.container:hover{
    transform: scale(.95);
}

.overlay {  
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    widows: 100%;
    opacity: 0;
    transition: 0.3s ease all;
}

.image {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
}

.image:hover {
    transform: scale(1.05);
    transition: 0.3s ease all;
}

.container:hover .overlay {
    opacity: 0.85;
}

.overlayText {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 3px;
    transition: 0.3s ease all;
    text-align: center;
    text-transform: uppercase;
}

.overlayTitle {
    font-size: 34px;
    font-weight: 200;
    line-height: 1.3;
    text-transform: capitalize;
}

#imgShow {
    /* transition: 0.3s ease-in-out; */
}

#imgShow:hover {
    /* transform: scale(1.05); */
}
 
#projectTitle {
    text-transform: capitalize;
    transition: 0.3s ease all;
}

#projectBox:hover ~ #projectTitle{
    opacity: 0.4;
    margin: 0 0 0 10px;
}

#projectTag {
    text-transform: uppercase;
    transition: 0.3s ease all;
    font-size: 9px;
    opacity: 0;
}

#projectBox:hover ~ #projectTag{
    opacity: 0.8;
    margin: 0 0 0 10px;

}

.tags {
    background-color: rgb(82, 82, 82);
    padding: 5px 10px;
    border-radius: 15px;
}


/* --------- Project Info --------- */
.projectOverlay {
    padding: 0px;
    background-image: linear-gradient(to right, #212121 0%, black 100%);
    position: fixed;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    z-index: 10000;
}


/* --------- Overlay Colors - https://uigradients.com ------- */
.retro {
    background: #114357;  
    background: -webkit-linear-gradient(to right, #F29492, #114357);  
    background: linear-gradient(to right, #F29492, #114357); 
}


/* -------- About ---------- */
.blend {
    mix-blend-mode: difference;
    position: absolute;
}

.heroText {
    padding: 5% 40% 0 0;
}

.aOne {
    max-width: 800px;
}

.backImg {
    opacity: 0.07;
    position: absolute;
    max-width: 90%;
    background-position: center center;
    background-blend-mode: difference;
    margin: -600px 0 0;
}

.flex2 {
    flex: 1 0 50%;
}

.flex4 {
    flex: 1 0 24%;
    padding: 0 1% 0 0;
}

.flex4 ul li {
    line-height: 2;
}

/*  -------- Media Queries ------- */

/* Mobile */
@media only screen and (max-width: 653px) and (min-width: 320px) {
    #projectItem {
        flex: 1 0 300px; 
    }
    
    #projectItem {
        margin: 10px 0 50px;
    }

    #menu li {
        padding-right: 5%;
        line-height: 2;
        text-align: right;
        font-size: 30px;
    }

    #social {
        padding-right: 3%;
        margin-top: 5%;
    }

    #ham {
        display: block;
    }

    #navigation {
        padding: 0px;
        background-image: linear-gradient(to right, #212121 0%, black 100%);
        position: fixed;
        top: 0px !important;
        right: 0px !important;
        width: 100%;
        height: 100%;
        padding-top: 150px; 
    }

    #projectTag {
        opacity: 1;
    }

    .aOne {
        max-width: 100%;
    }

    .blend {
        mix-blend-mode: difference;
        position: relative;
    }
    
}

/* Tablet */
@media only screen and (max-width: 1280px) and (min-width: 653px) {
    #projectItem {
        margin: 0 0 50px 20px;
    }
    #menu li {
        padding-right: 5%;
        line-height: 2;
        text-align: right;
        font-size: 30px;
    }

    #social {
        padding-right: 3%;
        margin-top: 5%;
    }
    #ham {
        display: block;
    }

    #navigation {
        padding-right: 0px;
        background-image: linear-gradient(to right, #212121 0%, black 100%);
        position: fixed;
        top: 0px !important;
        right: 0px !important;
        width: 100%;
        height: 100%;
        padding-top: 150px; 
    }

    #projectTag {
        opacity: 1;
    }

    .aOne {
        max-width: 100%;
    }

    .blend {
        mix-blend-mode: difference;
        position: relative;
    }

    .heroText {
        padding: 80% 20% 0 0;
    }
}

/* Desktop */
@media only screen and (max-width: 9000px) and (min-width: 1280px) {
    #projectItem {
        margin: 0 0 50px 20px;
    }

    #ham {
        display: none;
    }

    #menu{
        display: flex;
        padding-left: 400px;
    }

    #menu li {
        padding: 0 0px 0 30px;
    }

    #social {
        display: block;
        margin-top: -5px;
    }
    
    #navigation {
        /* padding: 0px; */
        display: flex !important;
    }
}